h2 {
    color: red;
    font-size: 20px;
    padding-left: 100px;
}
h1{
    font-size: 25px;
}
ul {
    list-style-type: none;
    padding: 0;
}

.first {
    display: flex;
   justify-content: space-around;
   background-color: antiquewhite;
 
}
img{
    width: 100px;
    height: 100px;
}
a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}
.intro{
    background-color: antiquewhite;
 
}
#one{
    color: red;
    font-size: 20px;
}

#two {
    color: red;
    font-size: 20px;
}
#three{
    color: red;
    font-size: 20px;
}
